@use "./button";
$primary-color:rgb(91 76 252);
$secondary:blue;
$font-weight:('400','500');

*{
    margin: 0;
    padding: 0;
}

.container{
    border: 1px solid black;
    padding: 20px;
    margin: 5px;
    background-color: #CCCCFF;
}

h1{
    color: $primary-color;
}



// p{
//     color: $secondary;
// }

.container{
    &__title{
        font-size: 20px;

    }
}


